/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "Google Sans", sans-serif;
  height: 100%;
  position: sticky;
  display: flex;
  box-sizing: border-box;
  overflow-x: hidden;
}

.div1 {
  background-color: #0b2a33;
  height: 100%;
  width: 180px;
  z-index: 400;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerdiv1 {
  background-color: #0b2a33;
  height: 100%;
  width: 180px;
  z-index: 400;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerdiv1 header {
  padding: 10px;
}
.headerdiv1 header ul {
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.headerdiv1 header ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.headerdiv1 header ul li a {
  text-decoration: none;
  color: #2f5896;
  font-size: 17px;
  font-family: inherit;
}
.headerdiv1 header ul li svg {
  color: rgb(166, 230, 241);
  font-size: 17px;
}
.headerdiv1 header ul li a#active {
  color: #397add;
}

.main {
  margin-left: 180px;
}
.main .div2 {
  background-color: #0b2a33;
  height: auto;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  display: flex;
}
.main .div2 img {
  display: block;
  filter: blur(4px);
  object-fit: cover;
  width: 200%;
  height: min-content;
}
.main .div2 h1 {
  color: white;
  margin-top: 280px;
  position: absolute;
  font-size: 38px;
  font-weight: 300;
  font-family: inherit;
  text-align: center;
}
.main .div2 p {
  color: rgba(255, 255, 255, 0.534);
  margin-top: 350px;
  position: absolute;
  font-size: 17px;
  font-family: inherit;
  text-align: center;
}
.main .div3 {
  background-color: #b1caf1;
  height: auto;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.main .div3 h1 {
  color: #04151a;
  margin-top: 80px;
  font-size: 38px;
  font-weight: 300;
  font-family: inherit;
  text-align: center;
}
.main .div3 ol {
  width: 90%;
  height: 200px;
  margin-left: 80px;
  justify-items: left;
  list-style: circle;
}
.main .div3 ol p {
  color: #04151a;
  font-size: 17px;
  margin: 0px;
  margin-top: 20px;
  line-height: 25px;
  font-weight: 400;
  font-family: inherit;
  text-align: left;
}
.main .div3 .p1 {
  margin: 40px;
  margin-top: 80px;
  color: #04151a;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  font-family: inherit;
  text-align: left;
}
.main .div3 p {
  margin: 40px;
  margin-top: 10px;
  margin-bottom: 80px;
  color: #04151a;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  font-family: inherit;
  text-align: left;
}

.footer {
  background-color: #04151a;
  width: 100%;
  height: 120px;
  gap: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer svg {
  color: rgb(166, 230, 241);
  font-size: 24px;
}

.maincontact {
  margin-left: 180px;
  width: 100vw;
}
.maincontact .div2contact {
  background-color: #0b2a33;
  height: auto;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  display: flex;
}
.maincontact .div2contact .sourcediv {
  width: 90%;
  height: 500px;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-direction: column;
}
.maincontact .div2contact .sourcediv .plink {
  margin: 0px;
}
.maincontact .div2contact .imagecontact {
  display: block;
  filter: blur(4px);
  object-fit: cover;
  width: 200%;
  height: min-content;
}
.maincontact .div2contact .h1maincontact {
  color: #04151a;
  margin-top: 80px;
  position: absolute;
  font-size: 38px;
  font-weight: 300;
  font-family: inherit;
  text-align: center;
}
.maincontact .div2contact .pcontact {
  color: #04151a;
  margin-top: 150px;
  position: absolute;
  font-size: 17px;
  font-family: inherit;
  text-align: center;
}
.maincontact .div2contact .pcontact2 {
  color: #04151a;
  width: 70%;
  line-height: 18px;
  margin-top: 220px;
  position: absolute;
  font-size: 17px;
  font-family: inherit;
  text-align: center;
}
.maincontact .div2contact .formcontact {
  width: 70%;
  height: auto;
  margin-top: 260px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-self: center;
  gap: 1rem;
}
.maincontact .div2contact .formcontact label {
  color: #04151a;
  font-size: 17px;
  font-family: inherit;
}
.maincontact .div2contact .formcontact input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(182, 181, 235, 0.5);
  border: 1px solid #04151a;
  font-size: 17px;
  padding: 10px;
}
.maincontact .div2contact .formcontact textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: rgba(182, 181, 235, 0.5);
  border: 1px solid #04151a;
  font-size: 17px;
  padding: 10px;
}
.maincontact .div2contact .formcontact button {
  height: 40px;
  border-radius: 5px;
  background-color: #0b2a33;
  color: #b1caf1;
  font-size: 17px;
  font-family: inherit;
  cursor: pointer;
}

.partdiv {
  margin: 40px;
  padding: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 90px;
  background-color: rgb(60, 70, 122);
}
.partdiv .partp {
  font-size: 24px;
  color: white;
  text-align: center;
}

.partdiv2 {
  margin: 40px;
  margin-top: 10px;
  padding: 10px;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
}
.partdiv2 .circlediv {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: rgb(60, 70, 122);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.partdiv2 .circlediv h3 {
  margin-top: 10px;
  line-height: 15px;
  color: #b1caf1;
  font-size: 13px;
  top: 50%;
  text-align: center;
}
.partdiv2 .circlediv svg {
  color: #b1caf1;
  font-size: 24px;
}

@media (min-width: 1px) and (max-width: 450px) {
  html,
  body {
    font-family: "Google Sans", sans-serif;
    height: 100%;
  }
  .div1 {
    background-color: #0b2a33;
    height: 80px;
    width: 100%;
    z-index: 400;
    position: fixed;
  }
  .headerdiv1 {
    background-color: #0b2a33;
    height: 80px;
    width: 100%;
    z-index: 400;
    position: fixed;
    display: flex;
    justify-content: center;
  }
  .headerdiv1 header {
    padding: 10px;
  }
  .headerdiv1 header ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 40px;
  }
  .headerdiv1 header ul li {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 0.5rem;
  }
  .headerdiv1 header ul li .a1 {
    text-decoration: none;
    color: #2f5896;
    font-size: 17px;
    font-family: inherit;
    display: none;
  }
  .headerdiv1 header ul li svg {
    color: rgb(166, 230, 241);
    font-size: 24px;
  }
  .headerdiv1 header ul li .a1#active {
    color: #397add;
  }
  .main {
    margin-left: 0px;
  }
  .main .div2 {
    background-color: #0b2a33;
    height: auto;
    width: 100vw;
    overflow: hidden;
    display: flex;
  }
  .main .div2 img {
    display: block;
    filter: blur(4px);
    overflow: hidden;
    object-fit: cover;
    width: 100vh;
    height: min-content;
  }
  .main .div2 h1 {
    color: white;
    margin-top: 100px;
    position: absolute;
    font-size: 30px;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
  }
  .main .div2 p {
    color: rgba(255, 255, 255, 0.534);
    margin-top: 190px;
    position: absolute;
    font-size: 13px;
    font-family: inherit;
    text-align: center;
    z-index: 200;
  }
  .main .div3 {
    background-color: #b1caf1;
    height: auto;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .main .div3 h1 {
    color: #04151a;
    margin-top: 80px;
    font-size: 30px;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
  }
  .main .div3 ol {
    width: 70%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 80px;
    justify-items: left;
    list-style: circle;
  }
  .main .div3 ol p {
    color: #04151a;
    font-size: 17px;
    margin: 0px;
    margin-top: 15px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    text-align: left;
  }
  .main .div3 .p1 {
    margin: 40px;
    margin-top: 80px;
    margin-bottom: 0px;
    color: #04151a;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    text-align: left;
  }
  .main .div3 p {
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 80px;
    color: #04151a;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    text-align: left;
  }
  .footer {
    background-color: #04151a;
    width: 100%;
    height: 120px;
    gap: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer svg {
    color: rgb(166, 230, 241);
    font-size: 24px;
  }
  .maincontact {
    margin-left: 0px;
  }
  .maincontact .div2contact {
    background-color: #0b2a33;
    height: auto;
    width: 100%;
    position: relative;
    justify-content: center;
    overflow: hidden;
    display: flex;
  }
  .maincontact .div2contact .sourcediv {
    width: 90%;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-direction: column;
  }
  .maincontact .div2contact .sourcediv .plink {
    margin: 0px;
  }
  .maincontact .div2contact .imagecontact {
    display: block;
    filter: blur(4px);
    object-fit: cover;
    width: 200%;
    height: 100vh;
  }
  .maincontact .div2contact .h1maincontact {
    color: #04151a;
    margin-top: 110px;
    position: absolute;
    font-size: 38px;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
  }
  .maincontact .div2contact .pcontact {
    color: #04151a;
    margin-top: 190px;
    position: absolute;
    font-size: 17px;
    font-family: inherit;
    text-align: center;
  }
  .maincontact .div2contact .pcontact2 {
    color: rgb(228, 228, 228);
    width: 70%;
    line-height: 18px;
    margin-top: 280px;
    position: absolute;
    font-size: 17px;
    font-family: inherit;
    text-align: center;
  }
  .maincontact .div2contact .formcontact {
    width: 70%;
    height: auto;
    margin-top: 260px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-self: center;
    gap: 1rem;
  }
  .maincontact .div2contact .formcontact label {
    color: #04151a;
    font-size: 17px;
    font-family: inherit;
  }
  .maincontact .div2contact .formcontact input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(182, 181, 235, 0.5);
    border: 1px solid #04151a;
    font-size: 17px;
    padding: 10px;
  }
  .maincontact .div2contact .formcontact textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background-color: rgba(182, 181, 235, 0.5);
    border: 1px solid #04151a;
    font-size: 17px;
    padding: 10px;
  }
  .maincontact .div2contact .formcontact button {
    height: 40px;
    border-radius: 5px;
    background-color: #0b2a33;
    color: #b1caf1;
    font-size: 17px;
    font-family: inherit;
    cursor: pointer;
  }
  .partdiv {
    margin: 40px;
    padding: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90px;
    background-color: rgb(60, 70, 122);
  }
  .partdiv .partp {
    font-size: 24px;
    color: white;
    text-align: center;
  }
  .partdiv2 {
    margin: 40px;
    margin-top: 10px;
    padding: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
  }
  .partdiv2 .circlediv {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(60, 70, 122);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
  .partdiv2 .circlediv h3 {
    margin-top: 10px;
    line-height: 15px;
    color: #b1caf1;
    font-size: 11px;
    top: 50%;
    text-align: center;
  }
  .partdiv2 .circlediv svg {
    color: #b1caf1;
    font-size: 24px;
  }
}
@media (min-width: 450px) and (max-width: 850px) {
  html,
  body {
    font-family: "Google Sans", sans-serif;
    height: 100%;
  }
  .div1 {
    background-color: #0b2a33;
    height: 80px;
    width: 100%;
    z-index: 400;
    position: fixed;
  }
  .headerdiv1 {
    background-color: #0b2a33;
    height: 80px;
    width: 100%;
    z-index: 400;
    position: fixed;
    display: flex;
    justify-content: center;
  }
  .headerdiv1 header {
    padding: 10px;
  }
  .headerdiv1 header ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 40px;
  }
  .headerdiv1 header ul li {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 0.5rem;
  }
  .headerdiv1 header ul li .a1 {
    text-decoration: none;
    color: #2f5896;
    font-size: 17px;
    font-family: inherit;
    display: none;
  }
  .headerdiv1 header ul li svg {
    color: rgb(166, 230, 241);
    font-size: 24px;
  }
  .headerdiv1 header ul li .a1#active {
    color: #397add;
  }
  .main {
    margin-left: 0px;
  }
  .main .div2 {
    background-color: #0b2a33;
    height: auto;
    width: 100vw;
    overflow: hidden;
    display: flex;
  }
  .main .div2 img {
    display: block;
    filter: blur(4px);
    overflow: hidden;
    object-fit: cover;
    width: 100vh;
    height: min-content;
  }
  .main .div2 h1 {
    color: rgb(255, 255, 255);
    margin-top: 250px;
    position: absolute;
    font-size: 38px;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
  }
  .main .div2 p {
    color: rgba(255, 255, 255, 0.534);
    margin-top: 350px;
    position: absolute;
    font-size: 13px;
    font-family: inherit;
    text-align: center;
    z-index: 200;
  }
  .main .div3 {
    background-color: #b1caf1;
    height: auto;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .main .div3 h1 {
    color: #04151a;
    margin-top: 80px;
    font-size: 38px;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
  }
  .main .div3 ol {
    width: 70%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 80px;
    justify-items: left;
    list-style: circle;
  }
  .main .div3 ol p {
    color: #04151a;
    font-size: 17px;
    margin: 0px;
    margin-top: 15px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    text-align: left;
  }
  .main .div3 .p1 {
    margin: 40px;
    margin-top: 80px;
    margin-bottom: 0px;
    color: #04151a;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    text-align: left;
  }
  .main .div3 p {
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 80px;
    color: #04151a;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    text-align: left;
  }
  .footer {
    background-color: #04151a;
    width: 100%;
    height: 120px;
    gap: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer svg {
    color: rgb(166, 230, 241);
    font-size: 24px;
  }
  .maincontact {
    margin-left: 0px;
  }
  .maincontact .div2contact {
    background-color: #0b2a33;
    height: auto;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    display: flex;
  }
  .maincontact .div2contact .sourcediv {
    width: 90%;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-direction: column;
  }
  .maincontact .div2contact .sourcediv .plink {
    margin: 0px;
  }
  .maincontact .div2contact .imagecontact {
    display: block;
    filter: blur(4px);
    object-fit: cover;
    width: 200%;
    height: min-content;
  }
  .maincontact .div2contact .h1maincontact {
    color: #04151a;
    margin-top: 80px;
    position: absolute;
    font-size: 38px;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
  }
  .maincontact .div2contact .pcontact {
    color: #04151a;
    margin-top: 150px;
    position: absolute;
    font-size: 17px;
    font-family: inherit;
    text-align: center;
  }
  .maincontact .div2contact .pcontact2 {
    color: #04151a;
    width: 70%;
    line-height: 18px;
    margin-top: 220px;
    position: absolute;
    font-size: 17px;
    font-family: inherit;
    text-align: center;
  }
  .maincontact .div2contact .formcontact {
    width: 70%;
    height: auto;
    margin-top: 260px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-self: center;
    gap: 1rem;
  }
  .maincontact .div2contact .formcontact label {
    color: #04151a;
    font-size: 17px;
    font-family: inherit;
  }
  .maincontact .div2contact .formcontact input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(182, 181, 235, 0.5);
    border: 1px solid #04151a;
    font-size: 17px;
    padding: 10px;
  }
  .maincontact .div2contact .formcontact textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background-color: rgba(182, 181, 235, 0.5);
    border: 1px solid #04151a;
    font-size: 17px;
    padding: 10px;
  }
  .maincontact .div2contact .formcontact button {
    height: 40px;
    border-radius: 5px;
    background-color: #0b2a33;
    color: #b1caf1;
    font-size: 17px;
    font-family: inherit;
    cursor: pointer;
  }
  .partdiv {
    margin: 40px;
    padding: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90px;
    background-color: rgb(60, 70, 122);
  }
  .partdiv .partp {
    font-size: 24px;
    color: white;
    text-align: center;
  }
  .partdiv2 {
    margin: 40px;
    margin-top: 10px;
    padding: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
  }
  .partdiv2 .circlediv {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(60, 70, 122);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
  .partdiv2 .circlediv h3 {
    margin-top: 10px;
    line-height: 15px;
    color: #b1caf1;
    font-size: 13px;
    top: 50%;
    text-align: center;
  }
  .partdiv2 .circlediv svg {
    color: #b1caf1;
    font-size: 24px;
  }
}
@media (min-width: 850px) and (max-width: 1125px) {
  html,
  body {
    font-family: "Google Sans", sans-serif;
    height: 100%;
  }
  .div1 {
    background-color: #0b2a33;
    height: 80px;
    width: 100%;
    z-index: 400;
    position: fixed;
  }
  .headerdiv1 {
    background-color: #0b2a33;
    height: 80px;
    width: 100%;
    z-index: 400;
    position: fixed;
    display: flex;
    justify-content: center;
  }
  .headerdiv1 header {
    padding: 10px;
  }
  .headerdiv1 header ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 40px;
  }
  .headerdiv1 header ul li {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 0.5rem;
  }
  .headerdiv1 header ul li .a1 {
    text-decoration: none;
    color: #2f5896;
    font-size: 17px;
    font-family: inherit;
    display: none;
  }
  .headerdiv1 header ul li svg {
    color: rgb(166, 230, 241);
    font-size: 24px;
  }
  .headerdiv1 header ul li .a1#active {
    color: #397add;
  }
  .main {
    margin-left: 0px;
  }
  .main .div2 {
    background-color: #0b2a33;
    height: auto;
    width: 100vw;
    overflow: hidden;
    display: flex;
  }
  .main .div2 img {
    display: block;
    filter: blur(4px);
    overflow: hidden;
    object-fit: cover;
    width: 100vh;
    height: min-content;
  }
  .main .div2 h1 {
    color: rgb(255, 255, 255);
    margin-top: 150px;
    position: absolute;
    font-size: 38px;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
  }
  .main .div2 p {
    color: rgba(255, 255, 255, 0.534);
    margin-top: 250px;
    position: absolute;
    font-size: 13px;
    font-family: inherit;
    text-align: center;
    z-index: 200;
  }
  .main .div3 {
    background-color: #b1caf1;
    height: auto;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .main .div3 h1 {
    color: #04151a;
    margin-top: 80px;
    font-size: 38px;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
  }
  .main .div3 ol {
    width: 70%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 80px;
    justify-items: left;
    list-style: circle;
  }
  .main .div3 ol p {
    color: #04151a;
    font-size: 17px;
    margin: 0px;
    margin-top: 15px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    text-align: left;
  }
  .main .div3 .p1 {
    margin: 40px;
    margin-top: 80px;
    margin-bottom: 0px;
    color: #04151a;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    text-align: left;
  }
  .main .div3 p {
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 80px;
    color: #04151a;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    text-align: left;
  }
  .footer {
    background-color: #04151a;
    width: 100%;
    height: 120px;
    gap: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer svg {
    color: rgb(166, 230, 241);
    font-size: 24px;
  }
  .maincontact {
    margin-left: 0px;
  }
  .maincontact .div2contact {
    background-color: #0b2a33;
    height: auto;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    display: flex;
  }
  .maincontact .div2contact .sourcediv {
    width: 90%;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-direction: column;
  }
  .maincontact .div2contact .sourcediv .plink {
    margin: 0px;
  }
  .maincontact .div2contact .imagecontact {
    display: block;
    filter: blur(4px);
    object-fit: cover;
    width: 200%;
    height: 100vh;
  }
  .maincontact .div2contact .h1maincontact {
    color: #04151a;
    margin-top: 120px;
    position: absolute;
    font-size: 38px;
    font-weight: 300;
    font-family: inherit;
    text-align: center;
  }
  .maincontact .div2contact .pcontact {
    color: #04151a;
    margin-top: 200px;
    position: absolute;
    font-size: 17px;
    font-family: inherit;
    text-align: center;
  }
  .maincontact .div2contact .pcontact2 {
    color: #04151a;
    width: 70%;
    line-height: 18px;
    margin-top: 250px;
    position: absolute;
    font-size: 17px;
    font-family: inherit;
    text-align: center;
  }
  .maincontact .div2contact .formcontact {
    width: 70%;
    height: auto;
    margin-top: 260px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-self: center;
    gap: 1rem;
  }
  .maincontact .div2contact .formcontact label {
    color: #04151a;
    font-size: 17px;
    font-family: inherit;
  }
  .maincontact .div2contact .formcontact input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(182, 181, 235, 0.5);
    border: 1px solid #04151a;
    font-size: 17px;
    padding: 10px;
  }
  .maincontact .div2contact .formcontact textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background-color: rgba(182, 181, 235, 0.5);
    border: 1px solid #04151a;
    font-size: 17px;
    padding: 10px;
  }
  .maincontact .div2contact .formcontact button {
    height: 40px;
    border-radius: 5px;
    background-color: #0b2a33;
    color: #b1caf1;
    font-size: 17px;
    font-family: inherit;
    cursor: pointer;
  }
  .partdiv {
    margin: 40px;
    padding: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90px;
    background-color: rgb(60, 70, 122);
  }
  .partdiv .partp {
    font-size: 24px;
    color: white;
    text-align: center;
  }
  .partdiv2 {
    margin: 40px;
    margin-top: 10px;
    padding: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
  }
  .partdiv2 .circlediv {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(60, 70, 122);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
  .partdiv2 .circlediv h3 {
    margin-top: 10px;
    line-height: 15px;
    color: #b1caf1;
    font-size: 13px;
    top: 50%;
    text-align: center;
  }
  .partdiv2 .circlediv svg {
    color: #b1caf1;
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */