@use "variables";
@use "mixins";

html,
body {
  font-family: "Google Sans", sans-serif;
  height: 100%;
  display: flex;
}

.div1 {
    background-color: variables.$Secondary-color;
    height: 100%;
    width: 180px;
    z-index: 200;
    @include mixins.center-flex;

    header {
      padding: 10px;

      ul {
        list-style: none;
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          a {
            text-decoration: none;
            color: variables.$Primary-color;
            font-size: variables.$Medium-font-size;
            font-family: inherit;
          }
          svg {
            color: rgb(166, 230, 241);
            font-size: variables.$Medium-font-size;
          }

          a#active {
            color: #397add;          }
        }
      }
    }
}

.div2 {
  background-color: rgb(44, 26, 8);
  height: 100%;
  width: 100%;
  flex: 1;
  justify-content: center;
  display: flex;
  z-index: 100;

  img {
    display: block;
    filter: blur(4px);
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  h1 {
    position: absolute;
    color: white;
    font-size: 38px;
    font-family: inherit;
    top: 35%;
    z-index: 300;
  }

  p {
    position: absolute;
    color: rgba(255, 255, 255, 0.534);
    font-size: 20px;
    font-family: inherit;
    top: 50%;
    z-index: 300;
  }
}